In [1]:
#importa librerias
import pandas as pd
import requests
import json
import psycopg2
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

In [3]:
# Cargar variables de entorno desde el archivo .env
load_dotenv("access.env")

# Obtener las variables de entorno
API_KEY = os.getenv("API_KEY")
HOST = os.getenv("HOST")
DATABASE = os.getenv("DATABASE")
USER = os.getenv("USER_RD")
PASSWORD = os.getenv("PASSWORD")

In [4]:
# URL de la API
url = 'https://opendata.aemet.es/opendata/api/observacion/convencional/todas'

In [5]:
# Parametros de la solicitud GET
params = {"api_key": API_KEY}

# Realiza la solicitud GET a la API
response = requests.get(url, params=params)

# Verifica si la solicitud fue exitosa
if response.status_code == 200:
    try:
        # Obtiene la URL de los datos reales del diccionario de respuesta
        data_url = response.json().get('datos')
        metadatos_url = response.json().get('metadatos')
        
        # Realiza una solicitud GET a la URL de los datos reales
        response_data = requests.get(data_url)
        response_metadatos  = requests.get(metadatos_url)
        
        # Carga los datos en un DataFrame si la solicitud fue exitosa
        if response_data.status_code == 200:
            # Obtiene los datos en formato JSON
            data_json = response_data.json()
            
            # Convierte los datos a un DataFrame de Pandas
            df = pd.DataFrame(data_json)
            
        else:
            print("Error al obtener los datos reales:", response_data.status_code)
    except Exception as e:
        print("Error al procesar la respuesta:", e)
else:
    print("Error al obtener la URL de los datos:", response.status_code)

### COLUMN SELECTION

In [6]:
# Obtiene la URL de los datos reales del diccionario de respuesta
metadatos_json = response_metadatos.json()
# Convierte los datos a un DataFrame de Pandas
df_aux = pd.DataFrame(metadatos_json)
# Imprime resultados del df
df_aux.head()

,unidad_generadora,periodicidad,formato,copyright,notaLegal,campos
0,Servicio de Observación,continuamente,application/json,© AEMET. Autorizado el uso de la información y...,https://www.aemet.es/es/nota_legal,"{'id': 'idema', 'descripcion': 'Indicativo cli..."
1,Servicio de Observación,continuamente,application/json,© AEMET. Autorizado el uso de la información y...,https://www.aemet.es/es/nota_legal,"{'id': 'lon', 'descripcion': 'Longitud de la e..."
2,Servicio de Observación,continuamente,application/json,© AEMET. Autorizado el uso de la información y...,https://www.aemet.es/es/nota_legal,"{'id': 'lat', 'descripcion': 'Latitud de la es..."
3,Servicio de Observación,continuamente,application/json,© AEMET. Autorizado el uso de la información y...,https://www.aemet.es/es/nota_legal,"{'id': 'alt', 'descripcion': 'Altitud de la es..."
4,Servicio de Observación,continuamente,application/json,© AEMET. Autorizado el uso de la información y...,https://www.aemet.es/es/nota_legal,"{'id': 'ubi', 'descripcion': 'Ubicación de la ..."

In [7]:
# Normaliza la columna "campos" del diccionario JSON para entender la metadata
df_normalized = pd.json_normalize(df_aux['campos'])

# Imprime resultados
df_normalized

,id,descripcion,tipo_datos,requerido
0,idema,Indicativo climatógico de la estación meteorol...,string,True
1,lon,Longitud de la estación meteorológica (grados),float,True
2,lat,Latitud de la estación meteorológica (grados),float,True
3,alt,Altitud de la estación en metros,float,True
4,ubi,Ubicación de la estación. Nombre de la estación,string,True
5,fint,"Fecha hora final del período de observación, s...",string (AAAA-MM-DDTHH:MM:SS),False
6,prec,"Precipitación acumulada, medida por el pluvióm...",float,False
7,pacutp,"Precipitación acumulada, medida por el disdróm...",float,False
8,pliqtp,Precipitación líquida acumulada durante los 60...,float,False
9,psolt,Precipitación sólida acumulada durante los 60 ...,float,False
10,vmax,"Velocidad máxima del viento, valor máximo del ...",float,False
11,vv,"Velocidad media del viento, media escalar de l...",float,False
12,vmaxu,Velocidad máxima del viento (sensor ultrasónic...,float,False
13,vvu,Velocidad media del viento (sensor ultrasónico...,float,False
14,dv,"Dirección media del viento, en el período de 1...",float,False
15,dvu,Dirección media del viento (sensor ultrasónico...,float,False
16,dmax,Dirección del viento máximo registrado en los ...,float,False
17,dmaxu,Dirección del viento máximo registrado en los ...,float,False
18,stdvv,Desviación estándar de las muestras adquiridas...,float,False
19,stddv,Desviación estándar de las muestras adquiridas...,float,False
20,stdvvu,Desviación estándar de las muestras adquiridas...,float,False
21,stddvu,Desviación estándar de las muestras adquiridas...,float,False
22,hr,Humedad relativa instantánea del aire correspo...,float,False
23,inso,Duración de la insolación durante los 60 minut...,float,False
24,pres,Presión instantánea al nivel en el que se encu...,float,False
25,pres_nmar,Valor de la presión reducido al nivel del mar ...,float,False
26,ts,"Temperatura suelo, temperatura instantánea jun...",float,False
27,tss20cm,"Temperatura subsuelo 20 cm, temperatura del su...",float,False
28,tss5cm,"Temperatura subsuelo 5 cm, temperatura del sub...",float,False
29,ta,Temperatura instantánea del aire correspondien...,float,False
30,tpr,Temperatura del punto de rocío calculado corre...,float,False
31,tamin,"Temperatura mínima del aire, valor mínimo de l...",float,False
32,tamax,"Temperatura máxima del aire, valor máximo de l...",float,False
33,vis,"Visibilidad, promedio de la medida de la visib...",float,False
34,geo700,Altura del nivel de la superficie de referenci...,float,False
35,geo850,Altura del nivel de la superficie de referenci...,float,False
36,geo925,Altura del nivel de la superficie barométrica ...,float,False
37,rviento,Recorrido del viento durante los 60 minutos an...,float,False
38,nieve,Espesor de la capa de nieve medid en los 10 mi...,float,False

In [8]:
# Selecciona columnas deseadas para el dataframe final
columnas_seleccionadas = ['ubi','lon', 'lat','alt','fint', 'prec', 'hr', 'ta', 'tamin', 'tamax']
df_final = df[columnas_seleccionadas]
df_final

,ubi,lon,lat,alt,fint,prec,hr,ta,tamin,tamax
0,ALFORJA,0.963335,41.213894,406.0,2024-03-11T00:00:00,0.0,75.0,8.1,8.0,8.2
1,REUS/AEROPUERTO,1.178894,41.149720,71.0,2024-03-11T00:00:00,0.0,72.0,8.8,8.6,10.5
2,VALLS,1.260838,41.293053,233.0,2024-03-11T00:00:00,0.0,72.0,9.7,9.6,9.9
3,TARRAGONA FAC. GEOGRAFIA,1.249167,41.123894,55.0,2024-03-11T00:00:00,0.0,72.0,10.4,10.3,10.5
4,PONTONS,1.519269,41.417053,632.0,2024-03-11T00:00:00,0.0,78.0,5.4,5.4,6.2
...,...,...,...,...,...,...,...,...,...,...
18298,LAS PALMAS G.C. SAN CRISTÓBAL,-15.416111,28.089722,55.0,2024-03-11T22:00:00,0.0,68.0,18.2,16.6,18.7
18299,LAS PALMAS DE GC. PLAZA DE LA FERIA,-15.421389,28.113056,15.0,2024-03-11T22:00:00,0.0,73.0,18.7,18.6,18.8
18300,MASPALOMAS,-15.595833,27.735832,6.0,2024-03-11T22:00:00,0.0,69.0,18.8,18.7,19.0
18301,TEGUISE LA GRACIOSA-HELIPUERTO,-13.510210,29.229586,19.0,2024-03-11T22:00:00,0.0,69.0,17.7,16.9,17.7
18302,EL HIERRO/AEROPUERTO,-17.888890,27.818888,32.0,2024-03-11T22:00:00,0.0,71.0,18.9,18.8,19.9

### REDSHIFT CONNECTION

In [9]:
try:
    conn = psycopg2.connect(
        host=HOST,
        dbname=DATABASE,
        user=USER,
        password=PASSWORD,
        port='5439'
    )
    print("Conectado a Redshift con éxito")
    
except Exception as e:
    print("Error al intentar conectar a Redshift")
    print(e)

Conectado a Redshift con éxito

In [10]:
# Crea la tabla en Redshift con el ID + columnas 
with conn.cursor() as cur:
    cur.execute("""
        CREATE TABLE IF NOT EXISTS estaciones_metereologicas (
            id INT IDENTITY(1,1) PRIMARY KEY,
            ubicacion VARCHAR (50),
            longitud FLOAT,
            latitud FLOAT,
            altitud FLOAT, 
            fecha_obs VARCHAR(50), 
            precipitaciones FLOAT,
            humedad FLOAT,
            temperatura FLOAT, 
            temperatura_min FLOAT,
            temperatura_max FLOAT         
        )
    """)
    conn.commit()

In [11]:
# Trunca tabla para evitar errores
with conn.cursor() as cur:
  cur.execute("Truncate table estaciones_metereologicas")
  count = cur.rowcount

In [12]:
# Define el mapeo de columnas
column_mapping = {
    'ubi': 'ubicacion',
    'lon': 'longitud',
    'lat': 'latitud',
    'alt': 'altitud',
    'fint': 'fecha_obs',
    'prec': 'precipitaciones',
    'hr': 'humedad',
    'ta': 'temperatura',
    'tamin': 'temperatura_min',
    'tamax': 'temperatura_max'
}

# Aplica el mapeo de columnas al DataFrame
df_final_mapped = df_final.rename(columns=column_mapping)

df_final_mapped.head()

,ubicacion,longitud,latitud,altitud,fecha_obs,precipitaciones,humedad,temperatura,temperatura_min,temperatura_max
0,ALFORJA,0.963335,41.213894,406.0,2024-03-11T00:00:00,0.0,75.0,8.1,8.0,8.2
1,REUS/AEROPUERTO,1.178894,41.149720,71.0,2024-03-11T00:00:00,0.0,72.0,8.8,8.6,10.5
2,VALLS,1.260838,41.293053,233.0,2024-03-11T00:00:00,0.0,72.0,9.7,9.6,9.9
3,TARRAGONA FAC. GEOGRAFIA,1.249167,41.123894,55.0,2024-03-11T00:00:00,0.0,72.0,10.4,10.3,10.5
4,PONTONS,1.519269,41.417053,632.0,2024-03-11T00:00:00,0.0,78.0,5.4,5.4,6.2

In [ ]:
# Crea motor SQLAlchemy
engine = create_engine(f'postgresql+psycopg2://{USER}:{PASSWORD}@{url}:{5439}/{DATABASE}')